
<%= form_with(model: @blog, local: true) do |form| %>

  <div class="form-group clearfix">
    <%= form.label :Title %>
    <%= form.text_field :title, class: 'form-control'%>
  </div>
  <br />

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control' , placeholder:'Your content...' , id: "exampleTextarea", rows: "3" %>
  </div></br>

  <div class = "form-group">
   <%= form.label :publication_date %>
   <%= form.date_field :publication_date %>
  </div></br>

  <input type="submit" value="Save">

<% end %>